{% extends 'base.html' %}
{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
      <h1>About</h1>
      <p>We deliver top-notch automotive solutions, offering quality vehicles, repairs, and exceptional service for
        every journey.</p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">About</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 mt-5 position-relative align-self-start order-lg-last order-first" data-aos="fade-up"
          data-aos-delay="200">
          <img src="/static/assets/img/about.jpg" class="img-fluid" alt="" style="margin-top: 85px;">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
          <h3>About Us</h3>
          <h5>
            AMAZING AUTOMOTIVES (OPC) PRIVATE LIMITED'
            Corporate identification Number:( U74999JK2021OPC012526 )
            Registered with Ministry of corporate Affairs Govt of India</h5>
            <h3>Our core areas of expertise include:</h3>
            </p>

            <ul>
              <li>
                <i class="fa-solid fa-helmet-safety"></i>
                <div>
                  <h5>• Road Safety Training:</h5>
                  <p> Promoting responsible driving habits through expert-led sessions that prioritize safety and
                    compliance.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-car"></i>
                <div>
                  <h5>• Driver Training Programs:</h5>
                  <p>Tailored to equip drivers with the skills and confidence needed to navigate modern road challenges
                    effectively.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-handcuffs"></i>
                <div>
                  <h5>• Accident Investigation:</h5>
                  <p>Conducting detailed investigations to uncover root causes, improve safety measures, and prevent
                    future incidents.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-car-side"></i>
                <div>
                  <h5>• Transport Consultation Services:</h5>
                  <p> Offering innovative solutions to streamline transport operations and ensure efficient, sustainable
                    logistics.</p>
                </div>
              </li>
            </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->
 


  <!-- Team Section -->
  <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Our Team<br></span>
      <h2>Our Team</h2>
      <p>"Our team is dedicated, innovative, collaborative, and committed to achieving excellence together."</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/assets/img/team/newimg.png" class="img-fluid" alt="team">
            <div class="member-content">
              <h4>Junaid Nazir</h4>
              <span>Director, Amazing Automotives OPC Pvt. Ltd.</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-6 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/assets/img/team/neimg.png" class="img-fluid" alt="team">
            <div class="member-content">
              <h4>Nasir Ali Khan</h4>
              <span>Head of Communications & Trainings</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Team Section -->



 

</main>

{% endblock %}